.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

* {
  box-sizing: border-box;
}
body {
  background-color: lightgreen;
  margin: 0;
}
/* pound sign references ID */
#court {
  background-color: lightblue;
  width: 800px;
  margin: 50px auto;
}
.tile1,.tile2,.tile3,.tile4,.tile5,.tile6 {
  float: left;
  border: 5px solid white;
  width: 100px;
  height: 300px;
}
.tile1 {
  width: 100px;

}
.side {
  width: 100px;
  height: 300px;
}
.back {
  width: 400px;
  height: 100px;
}
.middle {
  width: 200px;
  height: 300px;
}
