html{
  zoom:110%;
}
body{
  background: black;
}

.dropdown-content1 img{
  width: auto;
  height: auto;
}
.container{
  height: 4400px;
  width: 1440px;

    position: absolute;
    margin: 0;
    text-align: center;
         display: block;
}
.painting{
  width: 100%;
  height: 100%;
  position: absolute;
}

.Rene .painting img{

  position: absolute;
bottom: 118%;
  text-align: center;
   word-wrap: break-word;
align: left;
}
.top {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  left:50%;
  text-align: center;
   display: block;
}
.static {
  position:absolute;

}

.static:hover {
  opacity:0;
}
.tree{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  text-align: center;
       display: block;

}
.Rene{
  width:auto;
  height: auto;
}
.Dali{
  width:auto;
  height: auto;
}
.Breton{
  width:auto;
  height: auto;
}
.Earnst{
  width:auto;
  height: auto;
}
.Kahlo{
  width:auto;
  height: auto;
}
.line{
  background: white;
  border-radius: 40%;
  width: 51%;
  height: 0.22%;
   position: absolute;
 }
.Rene .line{

  top: 15.9%;
   left: 7%;
}
.Dali .line{
width: 48%;
  top: 26%;
  right: 0%;
}
.Breton .line{
  top: 38.2%;
      right: 40%;
}

.Earnst .line{
  width: 79%;
top: 51.6%;
right: 10%;
}
.Kahlo .line{
  width: 92%;
      top: 65.5%;
      right: 5%;
}
h1{
  color: white;
font-family: franklin-gothic-urw, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 244%;
position: absolute;
}

.Rene h1{

bottom: -250%;
left: 63%;
}

.Dali h1{
  bottom: -250%;
  left: 7%;
}
.Breton h1{

bottom: -250%;
left: 63%;
}
.Earnst h1{
  bottom: -250%;
  left: 7%;
}

.Kahlo h1{
  bottom: -250%;
  left: 37%;
}
.dropdown-content1 {

  position: absolute;
width: 100%;
height: auto;
  z-index: 1;
}


.Rene .dropdown-content1{

  top: 16%;
  right: 26%;
}


.Dali .dropdown-content1{
  width: auto;

  height: 11%;
  top: 26.1%;
  left: 70%;
}
.Breton .dropdown-content1{
height: 11%;
  top: 38.4%;
      right: 24%;
    }

    .Earnst .dropdown-content1{
      width: auto;
      height: 11%;
        top: 51.7%;
        left: 52%;
}
.Kahlo .dropdown-content1{
  width: auto;

  height: 10%;
  top: 65.65%;
  left: 9%;
}



.text1{
  position: absolute;

  width: 24%;
  height: auto;

  text-align: left;
  position: absolute;
  font-family: eb-garamond, serif;
font-weight: 400;
font-style: normal;
font-size: 145%;
line-height: 130%;

}

.Rene .text1{
  top: 3%;
    left: 38%;
    align: left;
}

.Dali .text1{
  width: 86%;
  height: auto;

  top:5%;
  left:4%;
}
.Breton .text1{
  width: 23%;
      height: auto;
      top: 5%;
left: 38%;
}
.Earnst .text1{
  width: 86%;
  height: auto%;


    top:5%;
    left:6%;
}
.Kahlo .text1{
  width: 93%;
      height: auto;
      top: 5%;
      left: 4%;
}

.portraits{

  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  text-align: center;
       display: block;
}
.portraits .Renep{
  top: 12%;
      left: 24%;
    position: absolute;
}

.portraits .Dalip{
position: absolute;
top: 23%;
    left: 78%;
}
.portraits .Bretonp{
position: absolute;
top: 34%;
    left: 22%;
}

.portraits .Picassop{
position: absolute;
top: 47%;
    left: 53%;
}
.portraits .Fridap{
position: absolute;
top: 58.3%;
    left: -7%;
}
/*.dropdown:hover .dropdown-content {
  display: block;
}
*/
@media only screen and (max-width:1024px) {
body{
  background-color: blue;
}
 }
 @media only screen and (max-width:768px) {
   body{
     background-color: white;
   }

  }
  @media only screen and (max-width:328px) {
    body{
      background-color: red;
    }
