

body {
  background-color: #c1be84;
  text-align: center;
    font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 48px;
  color: #767661


}

img {
  max-width: 100%;

}

a{
  color: #544444;
  text-decoration: none;
  border-bottom: 10xp dotted blue
  transition: color 1s ease  #0c0d49;
;
}

}
/* Visited links */
a:visited {
  color: #0c0d49;
;
}

a:hover {
  color: black;
  cursor: crosshair;
}

/* Focused state */
a:focus {
  color: #183a23;
}

/* Activated state */
a:active {
  color: black;
}
