.clearfix:after {
display:table;
content:"";
clear:both;
}
*{
box-sizing: border-box;
}
html{
zoom:110%;
overflow-x:hidden
}
body{
background: black;
}
.mobile{
display: none;
}

.desktop{

}
.dropdown-content1 img{
width: auto;
height: auto;
}
.container{
height: auto;
width: 100%;


margin: 0;
text-align: center;
display: block;
}
.painting{
width: 100%;
height: 100%;

}


.top {


margin: 0;
left:50%;
text-align: center;
display: block;
}
.title{
max-width:100%;
height:auto;
max-height:100%;
}
.eye{
max-width:100%;
height:auto;
max-height:100%;
}

.tree{
width: 100%;
height: 100%;
position: relative;
margin: 0;
text-align: center;
display: block;
/* background: url(../Images1440/Tree.png) no-repeat top center ;

background-size: 100%; */
}

.tree img {
width: 100%;
}
.Rene{

position:absolute;
top: 14%;
left: 1%;
}
.renep img{
width:0%;
height: auto;
z-index: 0;
position: relative;

}

.Rene .painting img{


bottom: 118%;
text-align: center;
word-wrap: break-word;
float: left;
}

.Rene .line{

}

h1{

margin: 0 0 -11px;
}

.Rene .dropdown-content1{


}

.Dali{
position:absolute;
top: 23%;
left:39%;

}
.Breton{
position: absolute;
top: 78%;
left: 25%;
}
.Earnst{
position:absolute;
top: 39%;
left: 10%;
}
.Kahlo{

position: absolute;
top: 56%;
left: 20%;
}
.line{
background: white;

border-radius: 40vw;
width: 67%;
height: 1vw;
}

.Dali .line{

}
.Earnst .line{
width: 76%;
}
.Breton .line{
width: 76%;
}
h1{
color: white;
font-family: franklin-gothic-urw, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 244%;

}



.Dali h1{
text-align: left;

}
.Breton h1{

text-align: left;
}
.Earnst h1{
margin-left: 254px;
}

.Kahlo h1{
text-align: left;
}
.dropdown-content1 {


width: 100%;
height: auto;
z-index: 1;
}





.Dali .dropdown-content1{
left:10%;
}
.Breton .dropdown-content1{

}

.Earnst .dropdown-content1{
right:10%;
}
.Kahlo .dropdown-content1{
width: auto;

height: 10%;

left: 9%;
}



.text1{

background: url(../Images1440/dropdown.png) no-repeat center center ;

background-size: cover;
width: 24%;
height: auto;

text-align: left;

font-family: eb-garamond, serif;
font-weight: 400;
font-style: normal;
font-size: 145%;
line-height: 130%;
padding: 25px  25px 100px;
margin-left: 50px;
}

.Rene .text1{


}

.Dali .text1 {
margin-left: 177px;
width: 44%;
}
.Breton .text1{
margin-left: 383px;
width: 36%;
}
.Earnst .text1{
margin-left: 4px;
width: 32%;
}
.Kahlo .text1{
margin-left: 236px;
width: 44%;

}

.portraits{

width: 100%;
height: 82.7%;

margin: 0;
text-align: center;
display: block;
align: left;
}


.portraits .Dalip{

}
.portraits .Bretonp{


}

.portraits .Picassop{


}
.portraits .Fridap{


}

@media only screen and (max-width:1024px) {

html{
/* width: 1024px; */
text-align: center;
overflow-x:hidden;

}

.Rene .text1{

width: 42%;

}
.Dali {

top: 25%;
left: 48%;
}
.Dali .text1 {
margin-left: 127px;
width: 74%;
}
.Dali .line{
width: 100%;
}
.Earnst{
top: 43%;
left: -5%;
}
.Earnst .text1 {
margin-left: 134px;
width: 32%;
}

.Kahlo{
top: 49%;
left: 44%;
}
.Kahlo .text1 {
margin-left: 54px;
width: 84%;
}
.Kahlo .line{
width: 98%;
}
.Breton{
top: 76%;
left: 16%;
}
.brenton .text1 {
margin-left: 338px;
width: 47%;
}
.Breton .line{
width: 92%;
}
}
@media only screen and (max-width:768px) {
html{
/* width: 1024px; */
text-align: center;
overflow-x:hidden;

}
.Rene{
  top: 31%;
      left: 0%;
}
.Rene h1{
  text-align: left;
}
.Rene .text1{
  width: 56%;
  margin-left: 35%;
}

.Dali {
  top: 43%;
      left: 0%;
}
.Dali .text1 {
  margin-left: 233px;
      width: 55%;
}
.Dali .line{
width: 100%;
}
.Earnst{
  top: 54%;
  left: 0%;
}
.Earnst .text1 {
  margin-left: 278px;
  width: 54%;
}
.Earnst h1{
  text-align: left;
  margin-right: 10px;
}
.Earnst .line{
width: 98%;
}
.Kahlo{
  top: 67%;
      left: 0%;
}
.Kahlo .text1 {
  margin-left: 197px;
  width: 66%;
}
.Kahlo .line{
width: 98%;
}
.Breton{
  top: 81%;
      left: 0%;
}
.Breton .text1 {
  margin-left: 273px;
      width: 52%;
}
.Breton .line{
width: 100%;
}
.desktop{
display:none;
}
.mobile{
display:block;
}
}
@media only screen and (max-width:328px) {
  html{
  /* width: 1024px; */
  text-align: center;
  overflow-x:hidden;

  }
  h1{
    font-size: 136%;
    margin-bottom: -5px;
    text-align: left;

}

  .Rene{
    top: 31%;
        left: 0%;
  }

  .Rene .text1{
    width: 56%;
margin-left: 35%;
font-size: 67%;
padding: 16px 9px 40px;
  }
  .Rene .line{
  width: 100%;
  }
  .Dali {
    top: 45%;
        left: 0%;
  }
  .Dali .text1 {
    width: 56%;
margin-left: 35%;
font-size: 67%;
padding: 16px 9px 40px;
  }
  .Dali .line{
  width: 100%;
  }
  .Earnst{
    top: 57%;
  left: -20%;
  }
  .Earnst .text1 {
    width: 56%;
  margin-left: 35%;
  font-size: 67%;
  padding: 16px 9px 40px;
  }

  .Earnst .line{
  width: 98%;
  }
  .Kahlo{
    top: 71%;
        left: 0%;
  }
  .Kahlo .text1 {
    width: 75%;
    margin-left: 21%;
font-size: 67%;
padding: 16px 9px 40px;
  }
  .Kahlo .line{
  width: 98%;
  }
  .Breton{
    top: 87%;
        left: 0%;
  }
  .Breton .text1 {
    width: 56%;
margin-left: 35%;
font-size: 67%;
padding: 16px 9px 40px;
  }
  .Breton .line{
  width: 100%;
  }
  .desktop{
  display:none;
  }
  .mobile{
  display:block;
  }
}
/*.dropdown:hover .dropdown-content {
display: block;
}
*/
