html{

  overflow-x:hidden
}
body{
  background: black;
}
.mobile{
  display: none;
}
.dropdown-content1 img{
  width: auto;
  height: auto;
}
.container{
      height: auto;
  width: 1440px;


    margin: 0;
    text-align: center;
         display: block;
}
.painting{
  width: 100%;
  height: 100%;

}

.Rene .painting img{


bottom: 118%;
  text-align: center;
   word-wrap: break-word;
float: left;
}
.top {
  width: 100%;
  height: 100%;

  margin: 0;
  left:50%;
  text-align: center;
   display: block;
}

.tree{
  width: 100%;
  height: 100%;
  position: ;
  margin: 0;
  text-align: center;
       display: block;

}

.tree img tree2.png{
  display:none;
}
.Rene{
  float:left;

top: 16.5%;
    left:11%;
  width:91%;
  height: auto;


}
.Dali{
  float:left;

  top: 31.5%;
      left: 50%;
        width: 47%;
  height: auto;

}
.Breton{
  float:right;

  top: 47.5%;
      left: 16%;
      width: 47%;
  height: auto;

}
.Earnst{
  float:left;



      top: 64.5%;
      left: 19%;
      width: 47%;
      height: auto;
}
.Kahlo{

  float: left;

  top: 90.5%;
  left: 9%;
  width: 47%;
  height: auto;
}
.line{
  background: white;

  border-radius: 40vw;
      width: 67%;
      height: 1vw;
}
.Rene .line{
  width: 53%;

  }
  .Dali .line{
    width: 100%;
    }
    .Breton .line{
      width: 100%;
      }
h1{
  color: white;
font-family: franklin-gothic-urw, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 244%;

}

.Rene h1{

bottom: -250%;
left: 63%;
}

.Dali h1{
  bottom: -250%;
  left: 7%;
}
.Breton h1{

bottom: -250%;
left: 63%;
}
.Earnst h1{
  bottom: -250%;
  left: 7%;
}

.Kahlo h1{
  bottom: -250%;
  left: 37%;
}
.dropdown-content1 {


width: 100%;
height: auto;
  z-index: 1;
}


.Rene .dropdown-content1{
right: 31%;

}


.Dali .dropdown-content1{
  width: auto;

  height: 11%;

left: 41%;
}
.Breton .dropdown-content1{
height: 11%;

      right: 24%;
    }

    .Earnst .dropdown-content1{
      width: auto;
      height: 11%;

        left: 58%;
}
.Kahlo .dropdown-content1{
  width: auto;

  height: 10%;

  left: 9%;
}



.text1{

  background: url(../Images1440/dropdown.png) no-repeat center center ;

   background-size: cover;
  width: 24%;
  height: auto;

  text-align: left;

  font-family: eb-garamond, serif;
font-weight: 400;
font-style: normal;
font-size: 145%;
line-height: 130%;

}

.Rene .text1{


    align: left;
}

.Dali .text1{
  width: 86%;
  height: auto;



}
.Breton .text1{
  width: 41%;
  height: auto;

}
.Earnst .text1{
  width: 86%;
  height: auto%;



}
.Kahlo .text1{
  width: 93%;
      height: auto;

}

.portraits{

  width: 100%;
  height: 82.7%;

  margin: 0;
  text-align: center;
       display: block;
align: left;
}
.portraits .Renep{

}

.portraits .Dalip{

}
.portraits .Bretonp{


}

.portraits .Picassop{


}
.portraits .Fridap{


}

@media only screen and (max-width:1024px) {

html{
  width: 1024px;
  text-align: center;
  overflow-x:hidden
}

.top img{
  width:100%;
  height: auto;
}
.Dali{

}

.Dali h1{

}
.portraits .Dalip{
  transform: scaleX(-1);

}

.Kahlo .text1{

}
 }
 @media only screen and (max-width:768px) {
   body{
     background-color: white;
   }
   html{
     width: 768px;
   }
.desktop{
  display:none;
}
.mobile{
  display:block;
}
  }
  @media only screen and (max-width:328px) {
    body{
      background-color: red;
    }
  }
/*.dropdown:hover .dropdown-content {
  display: block;
}
*/
