body{

background-color: #333333;
}
#container{
  width: 600px;

  margin: auto;

}

.side,.back,.middle
{
    float: left;
    border: 
}
.side{


  width: 100px;
  height: 400px;
  background-color: crimson;

}

.back{
  width: 590px;
  height: 133px;
  background-color: crimson;
  float: left;
  margin-left: 10px;
}

.side2{
  width: 100px;
  height: 400px;
  background-color: crimson;
  float: left;
  margin-left: 10px;
}
