body{

}
#container{

}
text{
font-family: poynter-oldstyle-text, serif;
font-weight: 200;
font-style: italic;
text-align: center;
color:gray;
font-size: 100px;
text-transform: capitalize;
}
path {
  fill: transparent;
}
